@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1{font-size:200%;
    align-self: center };
ul {
    display: flex;
    list-style: none;
    border: 1pt;
    border-color: black;
    border-style: double;
    align-items: center;
    justify-content: space-between;
    padding: 30px, 10%;
  
}
li {
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
  font-size: 16px;
  color: dimgrey;
  text-decoration: none;
  
}

.container{
    display: flex;
}
body{
    background-image: linear-gradient(105deg, rgba(0, 47, 255, 0.767) 39%, rgba(51,56,57,1) 96%);
  }
  