h1{font-size:200%};
ul {
    display: flex;
    list-style: none;
  }
li {
    border: 1pt;
    border-color: black;
    padding: .10em;
  }
.container{
    display: flex;
}
body{
    background-image: linear-gradient(105deg, rgba(0, 47, 255, 0.767) 39%, rgba(51,56,57,1) 96%);
  }
  